In [1]:
# 导入项目根目录，负责无法使用自定义库
import sys
# 获取数据源
from core.lb import LB

sys.path.append("./..")

In [2]:
lb = LB()
df = lb.k_line("00700.HK", count=10)
df

,timestamp,last_close,open,open_diff,open_rate,close,close_diff,close_rate,high,high_rate,low,low_rate,volume
0,2023-01-19,NaN,377.0,NaN,0.00%,382.8,NaN,0.00%,385.0,0.00%,374.6,0.00%,17351698
1,2023-01-20,382.8,390.0,7.2,1.88%,391.8,9.0,2.35%,392.2,2.46%,385.0,0.57%,16863710
2,2023-01-26,391.8,400.0,8.2,2.09%,406.8,15.0,3.83%,406.8,3.83%,398.4,1.68%,23729091
3,2023-01-27,406.8,410.2,3.4,0.84%,415.0,8.2,2.02%,416.6,2.41%,409.0,0.54%,18625209
4,2023-01-30,415.0,407.6,-7.4,-1.78%,387.2,-27.8,-6.70%,411.0,-0.96%,384.0,-7.47%,53626689
5,2023-01-31,387.2,390.0,2.8,0.72%,382.2,-5.0,-1.29%,397.0,2.53%,373.8,-3.46%,55756238
6,2023-02-01,382.2,385.6,3.4,0.89%,385.0,2.8,0.73%,387.0,1.26%,373.6,-2.25%,31418879
7,2023-02-02,385.0,389.0,4.0,1.04%,383.0,-2.0,-0.52%,392.0,1.82%,381.2,-0.99%,23755405
8,2023-02-03,383.0,381.6,-1.4,-0.37%,385.0,2.0,0.52%,386.6,0.94%,375.4,-1.98%,25941959
9,2023-02-06,385.0,375.2,-9.8,-2.55%,376.8,-8.2,-2.13%,380.0,-1.30%,368.6,-4.26%,25591052

In [3]:
df.loc[[df["high"].idxmax()]]

,timestamp,last_close,open,open_diff,open_rate,close,close_diff,close_rate,high,high_rate,low,low_rate,volume
3,2023-01-27,406.8,410.2,3.4,0.84%,415.0,8.2,2.02%,416.6,2.41%,409.0,0.54%,18625209

### 涨幅最高

In [4]:
df.loc[[df["high_rate"].map(lambda x: x.replace("%", "")).astype(float).idxmax()]]

,timestamp,last_close,open,open_diff,open_rate,close,close_diff,close_rate,high,high_rate,low,low_rate,volume
2,2023-01-26,391.8,400.0,8.2,2.09%,406.8,15.0,3.83%,406.8,3.83%,398.4,1.68%,23729091

### 股价最低

In [5]:
df.loc[[df["low"].idxmin()]]

,timestamp,last_close,open,open_diff,open_rate,close,close_diff,close_rate,high,high_rate,low,low_rate,volume
9,2023-02-06,385.0,375.2,-9.8,-2.55%,376.8,-8.2,-2.13%,380.0,-1.30%,368.6,-4.26%,25591052

### 跌幅最高

In [6]:
df.loc[[df["low_rate"].map(lambda x: x.replace("%", "")).astype(float).idxmin()]]

,timestamp,last_close,open,open_diff,open_rate,close,close_diff,close_rate,high,high_rate,low,low_rate,volume
4,2023-01-30,415.0,407.6,-7.4,-1.78%,387.2,-27.8,-6.70%,411.0,-0.96%,384.0,-7.47%,53626689

In [7]:
lb.show_k_line(df)